<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset-css.css' />

  </head>
  <body>
    <<form class="formulario">
      <div class="card">
        <div class="card-top">
          <img class="imgLogin" src="/images/baita.png" alt="Baita-lanches">
          <h1 class="Baita-lanches">Baita Lanches</h1>
          <p class="frases">O melhor lanche da cidade</p>
        </div>

        <div class="card-group">
          <label>Usuario</label>
          <input type="text" name="Usuário" class="usuario-login" placeholder="Usuario">
        </div>

        <div class="card-group">
          <label>Usuario</label>
          <input type="text" name="Usuário" class="usuario-login" placeholder="Usuario">
        </div>

        <div class="card-group">
          <button onclick="alert('ben vindo')" type="submit">Entrar</button>
        </div>
      </div>      
    </form>
  </body>
</html>
